:root {
  --font-default: "Poppins", sans-serif;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  scroll-behavior: smooth;
  --color-bg: #025add;
  --hero-overlay-color: transparent;
  --menu-color: #ffffff;
  --theme-color: #025add;
  --border-color: #e2e2e2;
  --theme-color-dark: #f8f8f8;
  --text-color: #3a3a3a;
  --hero-text-color: #ffffff;
  --text-white-color: #ffffff;
  --text-grey-color: #3a3a3a;
  --text-theme-color: #025add;
  --light-color: #ffffff;
  --color-default: #3a3a3a;
  --color-primary: #025add;
  --color-secondary: #0c6de0;
  --color-start: #3a3a3a;
  --color-end: #3a3a3a;
  --hero-card-bg: rgb(228 227 223 / 17%);
  --box-shadow-color: rgb(82 90 101 / 10%);
}

:root.dark {
  --menu-color-bg: #565656;
  --color-bg: #000000;
  --hero-overlay-color: #000000;
  --menu-color: #ffffff;
  --theme-color: #000000;
  --border-color: #14929a;
  --theme-color-dark: #2c2c2c;
  --text-color: #ffffff;
  --hero-text-color: #ffffff;
  --text-white-color: #ffffff;
  --text-grey-color: #565656;
  --text-theme-color: #14929a;
  --light-color: #000000;
  --color-default: #000000;
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-start: #000000;
  --color-end: #000000;
  --hero-card-bg: rgb(0 0 0 / 83%);
  --box-shadow-color: rgb(20 146 154 / 49%);
}

body {
  font-family: var(--font-default);
  color: var(--text-color);
  background: var(--theme-color);
  transition: 0.5s background ease;
}

body.dark {
  --menu-color-bg: #ffffff;
  --color-bg: #000000;
  --hero-overlay-color: #000000;
  --menu-color: #ffffff;
  --border-color: #025add;
  --theme-color-dark: #151515;
  --text-color: #ffffff;
  --text-white-color: #ffffff;
  --text-grey-color: #565656;
  --text-theme-color: #025add;
  --light-color: #000000;
  --color-default: #000000;
  --color-secondary: #0c6de0;
  --color-start: #000000;
  --color-end: #000000;
  --hero-card-bg: rgb(0 0 0 / 83%);
  --box-shadow-color: rgb(12 109 224 / 69%);
}

#darkmode-button {
  border-radius: 50%;
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

.toggle-container {
  position: relative;
}

.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.theme-btn.light {
  display: none;
}

.dark .theme-btn.dark {
  display: none;
}

.dark .theme-btn.light {
  display: block;
}

.hide-on-mobile {
  display: block;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section {
  padding: 60px 0;
  overflow: hidden;
  background: var(--light-color);
}

.section-grey {
  padding: 90px 0;
  overflow: hidden;
  background: var(--theme-color-dark);
}

.sections-bg {
  background-color: var(--theme-color-dark);
}

.section-header {
  text-align: center;
  padding-bottom: 60px;
}

.section-header h2 {
  font-size: 32px;
  position: relative;
  color: var(--color-primary);
}

.section-header p {
  margin-bottom: 0;
  color: #b8651d;
}

img {
  transition: 0.3s;
}

img:hover {
  transform: scale(1.1);
}

.fill-btn {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 40px;
  border-radius: 50px;
  border: 0;
  transition: 0.3s;
  color: var(--text-white-color);
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.fill-btn:hover {
  background: linear-gradient(
    45deg,
    var(--color-secondary),
    var(--color-primary)
  );
  color: var(--text-white-color);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.topbar {
  background: #00796b;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

.topbar .contact-info i {
  font-style: normal;
  color: #fff;
  line-height: 0;
}

.topbar .contact-info i a,
.topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

@media (max-width: 575px) {
  .topbar .contact-info i a,
  .topbar .contact-info i span {
    font-size: 13px;
  }
}

.topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

.topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

.topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

.topbar .social-links a:hover {
  color: #fff;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
}

.header.sticked {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header.stikcy-menu {
  background: var(--light-color);
}
.header.stikcy-menu .logo h1 {
  color: var(--color-primary);
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  letter-spacing: 0.8px;
  color: var(--color-primary);
  font-family: var(--font-primary);
}

.header .logo h1 span {
  color: var(--color-primary);
}

.sticked-header-offset {
  margin-top: 0;
}

section {
  background: var(--light-color);
}

/*--------------------------------------------------------------
  # Desktop Navigation
  --------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-secondary);
    font-size: 16px;
    font-weight: 600;
    color: var(--menu-color);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .stikcy-menu .navbar a {
    color: var(--text-color);
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--color-primary);
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--light-color);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 0px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover > a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {
  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: var(--color-primary);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 15px;
    color: rgb(255 255 255);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }

  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    color: #fff;
    background: rgba(0, 131, 116, 0.8);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    background-color: var(--color-primary);
  }

  .navbar .dropdown > .dropdown-active,
  .navbar .dropdown .dropdown > .dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: var(--color-primary);
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 80%);
    z-index: 9996;
  }
}
